.app-header
  position fixed
  top 0
  left 0
  right 0
  height 40px
  line-height 40px
  background-color $chestnut
  padding 6px 20px
  color $eggshell

.app-header__select
  position absolute
  top 0
  right 0
  height 100%
  width 50%
  opacity 0
  appearance none

.app-header__icon
  position absolute
  left 15px
  top 4px
  font-size 40px

.app-header__cover
  text-align right
  font-variant small-caps
  font-size 20px
  padding-right 10px
  .icon-down
    margin-left 0.5em
