@import 'nib'

$eggshell = #F9F8F4
$pearl = #EDEAE6
$chestnut = #403E3B
$oyster = #9C9795

aspect-ratio(ratio)
  position relative
  &:before
    content ""
    display block
    padding-top (100% / ratio)
  > .aspect-content
    position absolute
    top 0
    max-height 100%

body
  color $chestnut
  background-color $oyster

.deck
  position relative

@import 'components/card'
